@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By Dinh Phat Phat and Ta Triet, Ton Duc Thang university.</p>
Contact: 
<br>
<a href="https://www.facebook.com/phatfioraa" target="_blank">Dinh Phat Phat</a>
<br>
<a href="https://www.facebook.com/triet1412" target="_blank">Ta Triet</a>

